{% extends "base.html" %}
{% block content %}
<div class="container">

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<div class="jumbotron">

  <h2>Currently in database</h2>
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Cycles
        <span class="badge badge-primary badge-pill">{{ cycles | length }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Sleeps
        <span class="badge badge-primary badge-pill">{{ sleeps | length }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Recoveries
        <span class="badge badge-primary badge-pill">{{ recoveries | length }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Workouts
        <span class="badge badge-primary badge-pill">{{ workouts | length }}</span>
      </li>
  </ul>
</div>

</div>
{% endblock %}
