.wait {
  visibility: hidden;
}

.card {
  text-align: center;
  width: 45%;
  display: inline-block;
}

#hour-input, #minute-input {
  display: inline-block;
  width: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
}

