services:
  whoops:
    image: docker.io/kryoseu/whoops:latest
    container_name: whoops
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      CLIENT_ID: "${Whoop_Client_ID}"
      CLIENT_SECRET: "${Whoop_Client_Secret}"
      REDIRECT_URI: "${Whoops_Redirect_URI}"
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://whoops:whoops@postgres:5432/whoop_data"
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: whoops-postgres
    environment:
      POSTGRES_USER: "whoops"
      POSTGRES_PASSWORD: "whoops"
      POSTGRES_DB: "whoop_data"
    volumes:
      - whoops_pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped


volumes:
  whoops_pgdata: