services:
  whoops:
    image: docker.io/kryoseu/whoops:latest
    container_name: whoops
    ports:
      - "5000:5000"
    environment:
      CLIENT_ID: "<your-whoop-client-id-here"
      CLIENT_SECRET: "<your-whoop-client-secret-here"
      REDIRECT_URI: "http://localhost:5000/callback"
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://whoops:whoops@postgres:5432/whoop_data"
      # Alternative for MySQL
      # SQLALCHEMY_DATABASE_URI: "mysql+pymysql://whoops:whoops@mysql:3306/whoop_data"
      # Or for external DB
      # SQLALCHEMY_DATABASE_URI: "mysql+pymysql://whoops:whoops@<ip>:<port>/whoop_data"
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: whoops-postgres
    environment:
      POSTGRES_USER: "whoops"
      POSTGRES_PASSWORD: "whoops"
      POSTGRES_DB: "whoop_data"
    volumes:
      - whoops_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  # mysql:
  #   image: mysql:8.0
  #   container_name: whoops-mysql
  #   environment:
  #     MYSQL_ROOT_PASSWORD: "rootpass"
  #     MYSQL_DATABASE: "whoop_data"
  #     MYSQL_USER: "whoops"
  #     MYSQL_PASSWORD: "whoops"
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - whoops_mysqldata:/var/lib/mysql
  #   restart: unless-stopped
  #
volumes:
  whoops_pgdata:
  whoops_mysqldata:
